.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList__tools{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    padding-right: 10px;
}

.emailList__sections{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
}


.emailList__list{
    padding-bottom: 20%;
}